<nav>
    <div class="container d-flex">
        <p class="m-0 p-0">print( " <span class="">Vignesh</span> " )</p>
        <div class="nav-contant">
            <ul class="d-flex m-0 p-0">
                <li><a href="" class="active">Home</a></li>
                <li><a href="" class="text-light">About Me</a></li>
                <li class="mx-4">
                    <div class="nav-search-container">
                        <input type="search" class="">
                        <span><i class='bx bx-search text-dark fs-5'></i></span>
                    </div>
                </li>
                <li>
                    <i class='bx bxl-instagram'></i>
                    <a href="" class="text-light">Instagram</a>
                </li>
                <li>
                    <i class='bx bxl-discord-alt'></i>
                    <a href="" class="text-light">Discord</a>
                </li>
                <li>
                    <i class='bx bxl-github'></i>
                    <a href="" class="text-light">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>