<div class="banner-container my-5">
    <div class="container mb-5 p-0 ">
        <div class="banner-heading mb-3">
            <h1>&lt; Developer /&gt;</h1>
        </div>
        <div class="banner-contant-container">
            <div class="row mt-5 h-100">
                <div class="colabcd1 h-100">
                    <div class="profile-cal-container h-100">
                        <div class="inside-profile-cal-container">
                            <div>
                                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="" width="100px">
                                <h2 class="text-light">M.Vignesh</h2>
                                <p class="text-light">Full-stack developer</p>
                            </div>
                            <div>
                                <ul class="details">
                                    <li>
                                        <a href=""><i class='bx bx-envelope' ></i><span>muthuvicky7777&#64;gmail.com</span></a>
                                    </li>
                                    <li>
                                        <i class='bx bx-current-location' ></i><span>Pudukkuttai</span>
                                    </li>
                                    <li>
                                        <i class='bx bx-briefcase' ></i><span>Full Time</span>
                                    </li>
                                </ul>
                                <ul class="skils">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JVASCRIPT</li>
                                    <li>DJANGO</li>
                                </ul>
                            </div>
                            <div>
                                <button class="btn">Download CV <i class='bx bx-download'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="colabcd2">
                    <div class=" h-100">
                        
                    </div>
                </div>
                <div class="colabcd3">
                    <div class="outer-skils h-100">
                        <div class="inner-skils">
                            <ul>
                                <li>
                                    <h1>6</h1>
                                    <p>Programing Language</p>
                                </li>
                                <li>
                                    <h1>6</h1>
                                    <p>Development Tools</p>
                                </li>
                                <li>
                                    <h1>1</h1>
                                    <p>Years of Experience</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>